* {
  box-sizing: border-box;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont,
               'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  background: #f2f2f2;
}

/* Header */
header {
  background: #e53935;
  color: white;
  padding: 14px;
  display: flex;
  align-items: center;
}

.back {
  font-size: 20px;
  margin-right: 10px;
}

.title {
  font-size: 17px;
  font-weight: 500;
}

/* Tabs */
.tabs {
  display: flex;
}

.tab {
  flex: 1;
  padding: 12px;
  border: none;
  background: white;
  color: #e53935;
  font-size: 15px;
  font-weight: 500;
}

.tab.active {
  background: #e53935;
  color: white;
}

/* Content */
.content {
  padding: 20px;
  padding-bottom: 120px;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

/* Upload */
.upload-main {
  display: block;
  border: 2px solid #e53935;
  color: #e53935;
  padding: 18px;
  text-align: center;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 500;
}

#preview img {
  width: 100%;
  margin-top: 20px;
  border-radius: 12px;
}

/* Inputs */
input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  font-size: 15px;
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.blue {
  width: 100%;
  background: #1976d2;
  color: white;
  border: none;
  padding: 18px;
  font-size: 16px;
  font-weight: 500;
}

.blue.qr-btn {
  display: flex;
  align-items: center;
  gap: 8px;
}

.blue.qr-btn img {
  width: 20px;
  height: 20px;
}

.send {
  width: 100%;
  background: white;
  border: none;
  padding: 15px;
  font-size: 16px;
  font-weight: 500;
  color: #1976d2;

}
